#
# Essential Parameters
#

# Output folder for final results
output_folder=test_dataset/results

# Contig file
contig_file=test_dataset/contigs.fa

# Mapped read locations
map_file=test_dataset/lib_1.map

#----------------------------------------------------------------------------------------------
# Advance Parameters

#
# Scaffolding related parameters
#

# Scaffold name in result file
#scaffold_name=opera_scaffold

# PET cluster threshold (default=5)(Opera will discard all clusters 
#    less than this value during scaffolding) 
#cluster_threshold=5

# Should Opera abort when running time for specific subgraph is longer 
#    than 30 minutes (true or false, default=true)
#abort=true

#----------------------------------------------------------------------------------------------
#
# Contig file related parameters
#

# Format of contig file(fasta or statistic, default=fasta)
#file_format=fasta

# Program name generating contig file(velvet or soap, default=velvet)
#file_type=soap

# Should the repeat contigs be filtered(yes or no, default=true)
#filter_repeat=no

# Repeat threshold (default=1.5): If the coverage of a contig is higher than 
#    (repeat threshold * average coverage), then it is considered as repeat
#repeat_threshold=1.5

# Contig size threshold (default=500): Opera will not use the contigs whose length 
#    is shorter than this value
#contig_size_threshold=500

#----------------------------------------------------------------------------------------------
#
# Mapping related parameters
#

# Should Opera recalculate paired-end reads orientation(yes or no, default=no)
#calculate_ori=no

# Paired end reads orientation(in, out or forward)
# in: ->...<-;  out: <-...->;   forward: ->...->(first reads are in the second position)
# read_ori=in

# Format of mapping file(bowtie or opera, default=bowtie)
#map_type=bowtie

# Should Opera recalculate library information(yes or no, default=yes)
#calculate_lib=yes

# Library mean length
#lib_mean=10000

# Library standard deviation
#lib_std=1000