#
# Essential Parameters
#

# Output folder for final results
output_folder=test_dataset/results

# Contig file
contig_file=test_dataset/contigs.fa

# Mapped read locations
[LIB]
map_file=test_dataset/lib_1.map
#lib_mean=10000
#lib_std=1000

[LIB]
map_file=test_dataset/lib_2.map
#lib_mean=300
#lib_std=30